
body, table { font: 10pt Menlo Regular; }

.builtin  { color: #A90D91; }
.comment  { color: #10743E; }
.url  { color: blue; }
.doccomment { color: #10743E; }
.identifier { color: #3F6E74; }
.keyword { color: #AD0D91; }
.number { color: #1D26E1; }
.string { color: #CB444D; }
.typeidentifier { color: #5C2599; }
.linenum { color: black; }

span.references { display: none; position: absolute; border: 2px outset; z-index: 100; }
span.references table { background-color: white; }
span.references table tr td { border: 1px inset; }